.form-feileds {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
div > label {
  padding-bottom: 12px;
  font-size: small;
  font-weight: bold;
}
.btn-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.button1 {
  background-color: rgb(160, 85, 235);
  border-radius: 6px;
  font-size: x-small;
  font-weight: bold;
  height: 1.8rem;
  width: 6rem;
  border: none;
  color: #fff;
}
.button1:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(9, 9, 9);

}
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
