.according {
  height: 40vh;
}
.master {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.navlink {
  list-style-type: none;
  text-decoration-line: none;
  font-size: x-small;
  color: black;
}
.flex-item {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}
.icons {
  margin-right: 10px;
}
.nestes-items {
  display: flex;
  justify-content: left;
  margin-left: 2rem;
  font-size: "12px";
}
